In [51]:
import pandas as pd
import numpy as np
import csv
import pickle

In [2]:
df_rent = pd.read_csv('../data/iProperty_rent_to_be_trained.csv')
df_sale = pd.read_csv('../data/iProperty_sale_to_be_trained.csv')
df = pd.concat([df_rent,df_sale])

In [8]:
df.head()

,name,price,psf,district,state,type,details,area,bedroom,bathroom,carpark
0,"M Vertica, Taman Maluri, Cheras",1400,1.65,Cheras,Kuala Lumpur,Condominium,Default,850,3,2,1
1,"M Vertica, Taman Maluri, Cheras",1700,2.00,Cheras,Kuala Lumpur,Condominium,Default,850,3,2,2
2,"Desa Green, Taman Desa",1800,2.52,Taman Desa,Kuala Lumpur,Serviced Residence,Studio,715,2,2,1
3,"Arcoris Residences, Mont Kiara",5000,5.51,Mont Kiara,Kuala Lumpur,Serviced Residence,Intermediate,907,2,2,1
4,"Desa Green, Taman Desa",1400,2.42,Taman Desa,Kuala Lumpur,Serviced Residence,Default,578,1,1,1

DISTRICT

In [3]:
df_district = df[['district']].drop_duplicates()
df_district.reset_index(drop=True,inplace=True)

In [9]:
df_district['district_copy'] = df_district.loc[:,'district']
df_district.head()

      district district_copy
0       Cheras        Cheras
1   Taman Desa    Taman Desa
2   Mont Kiara    Mont Kiara
3      KL City       KL City
4  Bukit Jalil   Bukit Jalil

In [99]:
df_district.to_csv('district.csv', quotechar='"', quoting=csv.QUOTE_ALL, index=False)

TYPE

In [5]:
df_type = df[['type']].drop_duplicates()
df_type.reset_index(drop=True,inplace=True)

In [10]:
df_type['type_copy'] = df_type.loc[:,'type']
df_type.head()

                       type                 type_copy
0               Condominium               Condominium
1        Serviced Residence        Serviced Residence
2                  Bungalow                  Bungalow
3  3-sty Terrace/Link House  3-sty Terrace/Link House
4                 Apartment                 Apartment

In [7]:
df_type.to_csv('type.csv', quotechar='"', quoting=csv.QUOTE_ALL, index=False)

DETAIL

In [14]:
df_detail = df[['details']].drop_duplicates()
df_detail.reset_index(drop=True,inplace=True)

In [15]:
df_detail['details_copy'] = df_detail.loc[:,'details']
df_detail.head()

        details  details_copy
0       Default       Default
1        Studio        Studio
2  Intermediate  Intermediate
3    Corner lot    Corner lot
4       End lot       End lot

In [16]:
df_detail.to_csv('detail.csv', quotechar='"', quoting=csv.QUOTE_ALL, index=False)

In [42]:
input_dict = {
    'choice'  :'rent',
    'district':'Sentul',
    'state'   :'Selangor',
    'type'    :'Bungalow',
    'details'  :'Soho',
    'bedroom' :8,
    'bathroom':5,
    'carpark' :3,
}

In [43]:
num_arr = [[input_dict['bedroom'],input_dict['bathroom'],input_dict['carpark']]]

In [44]:
num_arr

[[8, 5, 3]]

In [45]:
sale_ohe = pickle.load(open('sale_ohe.pkl','rb'))
sale_ohe.categories_

[array(['Air Tawar', 'Alam Impian', 'Alma', 'Aman Perdana',
        'Ambang Botanic', 'Ampang', 'Ampang Hilir', 'Ampangan',
        'Ara Damansara', 'Arau', 'Asajaya', 'Ayer Itam', 'Ayer Tawar',
        'Bachok', 'Bagan Serai', 'Bahau', 'Balakong', 'Balik Pulau',
        'Bandar Botanic', 'Bandar Bukit Raja', 'Bandar Bukit Tinggi',
        'Bandar Damai Perdana', 'Bandar Enstek', 'Bandar Kinrara',
        'Bandar Mahkota Cheras', 'Bandar Menjalara', 'Bandar Puncak Alam',
        'Bandar Puteri Klang', 'Bandar Puteri Puchong',
        'Bandar Saujana Putra', 'Bandar Sri Damansara',
        'Bandar Sri Sendayan', 'Bandar Sungai Long', 'Bandar Sunway',
        'Bandar Utama', 'Bangi', 'Bangsar', 'Batang Kali', 'Batu Caves',
        'Batu Ferringhi', 'Batu Gajah', 'Batu Kawan', 'Batu Kikir',
        'Batu Maung', 'Batu Pahat', 'Batu Uban', 'Bau', 'Bayan Baru',
        'Bayan Lepas', 'Beaufort', 'Bertam', 'Bidor', 'Bintagor',
        'Bintulu', 'Bota', 'Brickfields', 'Bukit Bintang', 'Bukit Jalil',
        'Bukit Jambul', 'Bukit Jelutong', 'Bukit Kepayang',
        'Bukit Mertajam', 'Bukit Minyak', 'Bukit Tambun', 'Bukit Tengah',
        'Bukit Tunku (Kenny Hills)', 'Butterworth', 'Chemor',
        'Cherang Ruku', 'Cheras', 'City Centre', 'Country Heights',
        'Country Heights Damansara', 'Cyberjaya', 'Damansara Damai',
        'Damansara Heights', 'Damansara Jaya', 'Damansara Kim',
        'Damansara Perdana', 'Damansara Utama', 'Denai Alam', 'Dengkil',
        'Desa Pandan', 'Desa ParkCity', 'Desa Petaling', 'Dutamas',
        'Gelang Patah', 'Gelugor', 'Gemencheh', 'Georgetown', 'Gerik',
        'Glenmarie', 'Gombak', 'Gopeng', 'Greenlane', 'Gurney',
        'Horizon Hills', 'Hutan Melintang', 'I-City', 'Ipoh',
        'Iskandar Puteri (Nusajaya)', 'Jade Hills', 'Jalan Ipoh',
        'Jalan Klang Lama (Old Klang Road)', 'Jalan Kuching',
        'Jalan Sultan Ismail', 'Jawi', 'Jelutong', 'Jenjarom', 'Jeram',
        'Johor Bahru', 'Juru', 'KL City', 'KL Eco City', 'KL Sentral',
        'KLCC', 'Kajang', 'Kaki Bukit', 'Kampar',
        'Kampung Kerinchi (Bangsar South)', 'Kamunting', 'Kangar', 'Kapar',
        'Kelana Jaya', 'Kem Desa Pahwalan', 'Kenali', 'Kepala Batas',
        'Kepong', 'Keramat', 'Ketereh', 'Klang', 'Kluang', 'Kota Bharu',
        'Kota Damansara', 'Kota Kemuning', 'Kota Kinabalu',
        'Kota Kinabatangan', 'Kota Samarahan', 'Kota Tinggi',
        'Kuala Kangsar', 'Kuala Kerai', 'Kuala Klawang', 'Kuala Kurau',
        'Kuala Langat', 'Kuala Perlis', 'Kuala Pilah', 'Kuala Selangor',
        'Kuchai Lama', 'Kuching', 'Kulai', 'Labu', 'Labuan', 'Lahad Datu',
        'Lahat', 'Lenggeng', 'Likas', 'Lukut', 'Lumut', 'Lundu', 'Machang',
        'Malim Nawar', 'Mambang Diawan', 'Mantin', 'Masai', 'Melor',
        'Menglembu', 'Minden Heights', 'Miri', 'Mont Kiara', 'Muar',
        'Mutiara Damansara', 'Nibong Tebal', 'Nilai', 'OUG',
        'Padang Besar', 'Pandan Indah', 'Pandan Jaya', 'Pantai',
        'Pantai Remis', 'Papar', 'Parit Buntar', 'Pasir Gudang',
        'Pasir Mas', 'Pasir Puteh', 'Pauh', 'Paya Terubong', 'Penaga',
        'Penampang', 'Pengerang', 'Pengkalan Chepa', 'Pengkalan Hulu',
        'Perai', 'Perling', 'Permas Jaya', 'Permatang Pauh',
        'Petaling Jaya', 'Plentong', 'Port Dickson', 'Port Klang',
        'Puchong', 'Puchong South', 'Pulau  Indah ( Pulau Lumut)',
        'Pulau Tikus', 'Puncak Jalil', 'Pusing', 'Putatan',
        'Puteri Harbour', 'Putra Heights', 'Putrajaya', 'Raja Uda',
        'Ranau', 'Rantau', 'Rantau Panjang', 'Rasah', 'Rawang', 'Relau',
        'Rembau', 'SS2', 'Salak Selatan', 'Sandakan', 'Saujana',
        'Saujana Utama', 'Seberang Jaya', 'Seberang Perai', 'Segambut',
        'Selama', 'Selayang', 'Selising', 'Semenyih', 'Senai', 'Senawang',
        'Senibong', 'Sentul', 'Sepang', 'Seputeh', 'Serdang', 'Seremban',
        'Seremban 2', 'Serendah', 'Seri Iskandar', 'Seri Kembangan',
        'Seri Manjong', 'Serian', 'Setapak', 'Setia Alam',
        'Setia Eco Park', 'Setia Indah', 'Setia Tropika', 'Setiawangsa',
        'Shah Alam', 'Sibu', 'SierraMas', 'Sikamat', 'Simpang Ampat',
        'Simpang Pulai', 'Sitiawan', 'Skudai', 'Sri Aman', 'Sri Hartamas',
        'Sri Petaling', 'Sri Rusa', 'Subang Heights', 'Subang Jaya',
        'Sungai Ara', 'Sungai Bakap', 'Sungai Besi', 'Sungai Buloh',
        'Sungai Dua', 'Sungai Jawi', 'Sungai Nibong', 'Sungai Siput',
        'Sunway SPK', 'Taiping', 'Taman Desa', 'Taman Melawati',
        'Taman Tun Dr Ismail', 'Tambun', 'Tambunan', 'Tampin', 'Tampoi',
        'Tanah Merah', 'Tanjong Duabelas', 'Tanjong Karang',
        'Tanjong Rambutan', 'Tanjong Tokong', 'Tanjung Bungah',
        'Tanjung Malim', 'Tapah', 'Tawau', 'Tebrau', 'Telok',
        'Telok Kemang', 'Telok Panglima Garang', 'Teluk Bahang',
        'Teluk Intan', 'Teluk Kumbar', 'Titi Tinggi', 'Titiwangsa',
        'Tronoh', 'Tropicana', 'Tuaran', 'Tumpat', 'USJ', 'USJ Heights',
        'Ulu Kinta', 'Ulu Klang', 'Ulu Tiram', 'Valdor', 'Valencia',
        'Wakaf Baru', 'Wangsa Maju'], dtype=object),
 array(['Johor', 'Kelantan', 'Kuala Lumpur', 'Labuan', 'Negeri Sembilan',
        'Penang', 'Perak', 'Perlis', 'Putrajaya', 'Sabah', 'Sarawak',
        'Selangor'], dtype=object),
 array(['1-sty Terrace/Link House', '1.5-sty Terrace/Link House',
        '2-sty Terrace/Link House', '2.5-sty Terrace/Link House',
        '3-sty Terrace/Link House', '3.5-sty Terrace/Link House',
        '4-sty Terrace/Link House', 'Apartment', 'Bungalow',
        'Cluster House', 'Condominium', 'Flat', 'Semi-detached House',
        'Serviced Residence', 'Townhouse'], dtype=object),
 array(['Corner lot', 'Default', 'Dual key', 'Duplex', 'End lot',
        'Intermediate', 'Penthouse', 'Soho', 'Studio', 'Triplex'],
       dtype=object)]

In [46]:
cat_df = pd.DataFrame(data=input_dict, index=[0]).drop(['choice','bedroom','bathroom','carpark'],axis=1)
cat_df

  district     state      type details
0   Sentul  Selangor  Bungalow    Soho

In [55]:
cat_arr = sale_ohe.transform(cat_df).toarray()
cat_arr

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.]])

In [57]:
train_arr = np.concatenate((num_arr,cat_arr),axis=1)
train_arr

array([[8., 5., 3., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.]])