In [117]:
import pandas as pd

In [118]:
df = pd.read_csv('./data/NS_iProperty_v2_cleaned.csv')

In [119]:
df.head()

,name,price,psf,address,description,bedroom,bathroom,carpark
0,"Green Street Homes, Seremban 2","RM 780,000",(RM 312 per sq. ft.),"Seremban 2, Negeri Sembilan",Semi-detached House | Intermediate • Built-u...,4,3.0,4.0
1,SEMI D di Senawang | Seremban | Rasah | Temian...,"RM 500,000",(RM 301.2 per sq. ft.),"Seremban, Negeri Sembilan",Semi-detached House | Corner lot • Built-up ...,4,2.0,NaN
2,"2 Sty Terrace | Gadong Jaya, Nilai, Sepang, KL...","RM 400,000",(RM 193.24 per sq. ft.),"Nilai, Negeri Sembilan","2-sty Terrace/Link House • Built-up : 2,070 ...",4,3.0,NaN
3,"Double Storey Semi D | Seremban 2 [REDBRICKS],...","RM 914,000",(RM 300.46 per sq. ft.),"Seremban 2, Negeri Sembilan","Semi-detached House • Built-up : 3,042 sq. ft.",5,4.0,NaN
4,Rasah Seremban Single Storey Bangalow Renovate...,"RM 560,000",(RM 302.7 per sq. ft.),"Rasah, Negeri Sembilan","Bungalow | Intermediate • Built-up : 1,850 s...",4,4.0,5.0

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         2000 non-null   object
 1   price        2000 non-null   object
 2   psf          1994 non-null   object
 3   address      2000 non-null   object
 4   description  2000 non-null   object
 5   bedroom      1819 non-null   object
 6   bathroom     1819 non-null   float64
 7   carpark      1082 non-null   float64
dtypes: float64(2), object(6)
memory usage: 125.1+ KB

In [121]:
df['carpark'].fillna(0, inplace=True)
df = df.dropna()
df = df.drop_duplicates()

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1737 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1737 non-null   object
 1   price        1737 non-null   object
 2   psf          1737 non-null   object
 3   address      1737 non-null   object
 4   description  1737 non-null   object
 5   bedroom      1737 non-null   object
 6   bathroom     1737 non-null   float64
 7   carpark      1737 non-null   float64
dtypes: float64(2), object(6)
memory usage: 122.1+ KB

In [123]:
df.reset_index(drop=True, inplace=True)
df

,name,price,psf,address,description,bedroom,bathroom,carpark
0,"Green Street Homes, Seremban 2","RM 780,000",(RM 312 per sq. ft.),"Seremban 2, Negeri Sembilan",Semi-detached House | Intermediate • Built-u...,4,3.0,4.0
1,SEMI D di Senawang | Seremban | Rasah | Temian...,"RM 500,000",(RM 301.2 per sq. ft.),"Seremban, Negeri Sembilan",Semi-detached House | Corner lot • Built-up ...,4,2.0,0.0
2,"2 Sty Terrace | Gadong Jaya, Nilai, Sepang, KL...","RM 400,000",(RM 193.24 per sq. ft.),"Nilai, Negeri Sembilan","2-sty Terrace/Link House • Built-up : 2,070 ...",4,3.0,0.0
3,"Double Storey Semi D | Seremban 2 [REDBRICKS],...","RM 914,000",(RM 300.46 per sq. ft.),"Seremban 2, Negeri Sembilan","Semi-detached House • Built-up : 3,042 sq. ft.",5,4.0,0.0
4,Rasah Seremban Single Storey Bangalow Renovate...,"RM 560,000",(RM 302.7 per sq. ft.),"Rasah, Negeri Sembilan","Bungalow | Intermediate • Built-up : 1,850 s...",4,4.0,5.0
...,...,...,...,...,...,...,...,...
1732,"Green Street Homes Seremban 2, Seremban","RM 850,000",(RM 157.41 per sq. ft.),"Seremban, Negeri Sembilan","Semi-detached House • Built-up : 5,400 sq. f...",4,3.0,0.0
1733,"Central Park, Seremban 2","RM 190,000",(RM 193.88 per sq. ft.),"Seremban 2, Negeri Sembilan",Apartment • Built-up : 980 sq. ft. • Unfur...,3,2.0,1.0
1734,"Taman Bali Villa Rasah Kemayan, Seremban 2","RM 450,000",(RM 180 per sq. ft.),"Seremban 2, Negeri Sembilan","Semi-detached House • Built-up : 2,500 sq. ft.",4,2.0,2.0
1735,"Bandar Springhill, Port Dickson","RM 212,000",(RM 265 per sq. ft.),"Port Dickson, Negeri Sembilan",2-sty Terrace/Link House | Intermediate • Bu...,3,3.0,0.0
1736,"Seremban, Seremban 2","RM 285,000",(RM 237.5 per sq. ft.),"Seremban 2, Negeri Sembilan",1-sty Terrace/Link House | End lot • Built-u...,3,2.0,0.0

In [124]:
for a in ['bedroom','bathroom','carpark']:
    print(a,'has unique values of',len(df[a].unique()),', and here they are ',df[a].unique(),'\n')

bedroom has unique values of 25 , and here they are  ['4' '5' '8+2' 'Studio' '3' '6' '4+2' '4+1' '2+1' '7' '5+1' '2' '3+1'
 '6+1' '7+1' '1' '5+2' '6+2' '11+1' '1+1' '8' '9' '5+3' '10' '9+2']

bathroom has unique values of 9 , and here they are  [ 3.  2.  4.  8.  1.  7.  5.  6. 12.]

carpark has unique values of 10 , and here they are  [ 4.  0.  5.  2.  3.  8.  1.  6. 10. 20.]

In [125]:
len(df['description'].unique())

1150

In [126]:
df[['description']].value_counts()

description
2-sty Terrace/Link House  •  Built-up : 2,000 sq. ft.                         16
2-sty Terrace/Link House  •  Built-up : 2,200 sq. ft.                         15
2-sty Terrace/Link House  •  Built-up : 1,800 sq. ft.                          9
2-sty Terrace/Link House | Intermediate  •  Built-up : 2,200 sq. ft.           9
1-sty Terrace/Link House  •  Built-up : 1,300 sq. ft.                          9
                                                                              ..
2-sty Terrace/Link House  •  Built-up : 1,200 sq. ft.                          1
2-sty Terrace/Link House  •  Built-up : 1,200 sq. ft.  •  Partly furnished     1
2-sty Terrace/Link House  •  Built-up : 1,300 sq. ft.  •  Unfurnished          1
2-sty Terrace/Link House  •  Built-up : 1,496 sq. ft.                          1
Townhouse  •  Built-up : 720 sq. ft.                                           1
Length: 1150, dtype: int64

In [127]:
if "description_1" not in df.columns: 
    df.insert(5, "description_1", None)
if "description_2" not in df.columns: 
    df.insert(6, "description_2", None)
if "description_3" not in df.columns: 
    df.insert(7, "description_3", None)

In [128]:
for x in df.index:
    descriptions = df.loc[x,'description'].split('\xa0•\xa0')
    if len(descriptions) >= 1:
        df.loc[x,'description_1'] = descriptions[0]
    if len(descriptions) >= 2:
        df.loc[x,'description_2'] = descriptions[1]
    if len(descriptions) >= 3:
        df.loc[x,'description_3'] = descriptions[2]

In [156]:
df['description_3'].isnull().sum()

875

In [157]:
df.to_csv('test_view.csv')