In [2]:
import pandas as pd
import csv

In [2]:
df_rent = pd.read_csv('../data/iProperty_rent_to_be_trained.csv')
df_sale = pd.read_csv('../data/iProperty_sale_to_be_trained.csv')
df = pd.concat([df_rent,df_sale])

In [8]:
df.head()

,name,price,psf,district,state,type,details,area,bedroom,bathroom,carpark
0,"M Vertica, Taman Maluri, Cheras",1400,1.65,Cheras,Kuala Lumpur,Condominium,Default,850,3,2,1
1,"M Vertica, Taman Maluri, Cheras",1700,2.00,Cheras,Kuala Lumpur,Condominium,Default,850,3,2,2
2,"Desa Green, Taman Desa",1800,2.52,Taman Desa,Kuala Lumpur,Serviced Residence,Studio,715,2,2,1
3,"Arcoris Residences, Mont Kiara",5000,5.51,Mont Kiara,Kuala Lumpur,Serviced Residence,Intermediate,907,2,2,1
4,"Desa Green, Taman Desa",1400,2.42,Taman Desa,Kuala Lumpur,Serviced Residence,Default,578,1,1,1

DISTRICT

In [3]:
df_district = df[['district']].drop_duplicates()
df_district.reset_index(drop=True,inplace=True)

In [9]:
df_district['district_copy'] = df_district.loc[:,'district']
df_district.head()

      district district_copy
0       Cheras        Cheras
1   Taman Desa    Taman Desa
2   Mont Kiara    Mont Kiara
3      KL City       KL City
4  Bukit Jalil   Bukit Jalil

In [99]:
df_district.to_csv('district.csv', quotechar='"', quoting=csv.QUOTE_ALL, index=False)

TYPE

In [5]:
df_type = df[['type']].drop_duplicates()
df_type.reset_index(drop=True,inplace=True)

In [10]:
df_type['type_copy'] = df_type.loc[:,'type']
df_type.head()

                       type                 type_copy
0               Condominium               Condominium
1        Serviced Residence        Serviced Residence
2                  Bungalow                  Bungalow
3  3-sty Terrace/Link House  3-sty Terrace/Link House
4                 Apartment                 Apartment

In [7]:
df_type.to_csv('type.csv', quotechar='"', quoting=csv.QUOTE_ALL, index=False)

DETAIL

In [14]:
df_detail = df[['details']].drop_duplicates()
df_detail.reset_index(drop=True,inplace=True)

In [15]:
df_detail['details_copy'] = df_detail.loc[:,'details']
df_detail.head()

        details  details_copy
0       Default       Default
1        Studio        Studio
2  Intermediate  Intermediate
3    Corner lot    Corner lot
4       End lot       End lot

In [16]:
df_detail.to_csv('detail.csv', quotechar='"', quoting=csv.QUOTE_ALL, index=False)

In [1]:
input_dict = {
    'choice'  :'rent',
    'state'   :'selangor',
    'district':'sentul',
    'type'    :'bungalow',
    'detail'  :'corner lot',
    'bedroom' :8,
    'bathroom':5,
    'carpark' :3,
}